@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  color:dodgerblue;
  font-size: 38px;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  background-color: #ee171f;
  color: white;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border-radius: 6px;
  width: 100px;
  transition: 0.5s;
}

a:hover {
  background-color: #ac1116;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s;
}


